.Post {
      border-radius: 3px;
      border: 1px solid #e6e6e6;
      background-color: #fff;
      margin-bottom: 60px;
      margin-left : 20%;
      margin-right: 20%;
    }
    .Postuser {
      padding: 10px;

    }
    .Post-user {
      display: flex;
      padding: 16px;
      align-items: center;
    }
    .Post-user-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%
    }
    .Post-user-avatar img {
      width: 100%;
      height: 100%;
    }
    .Post-user-nickname {
      margin-left: 12px;
      font-family: 'PT Sans', sans-serif;
      font-weight: bold;
    }
    .Post-image-bg {
      background-color: #efefef;
    }
    .Post-image img {
      display: block;
      width: 100%;
    }
    .Post-caption {
      padding: 16px 16px;
    }
    .Post-caption strong {
      font-family: 'PT Sans', sans-serif;
      font-weight: bold;
    }
    .vjs-fade-out {
      display: none;
      visibility: hidden;
      opacity: 0;
    }