/*Style général*/
.grow
{
    background-color: var(--secondary) !important;
    color: var(--primary) !important;
    flex-grow: 1;
    width: 100%;
}


/*Topbar*/
.topbarlogo
{
    height:2em;
    width:2em;
    margin-right:1em;
    padding:0;
}


    .Nav-brand-logo {
      display: block;
      background-position: -176px 0px;
      background-image: url(../../sprite.png);
      background-size: 405px 379px;
      background-repeat: no-repeat;
      height: 35px;
      width: 176px;
      text-indent: -1000%
    }

  /*  .searchIcon {
      height: 100%;
      position: relative;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
  }
*/
    .compteIcon {
      position: absolute;
      margin: 0;
    }
